<div class="container mt-5 mb-5">

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-secondary">Atualizar tema</h1>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-6">

            <div class="form-group">
                <label for="descricao">Descrição</label>
                <input [(ngModel)]='tema.descricao' type="text" class="form-control" id="descricao">

            </div>

            <div class="d-flex justify-content-center">
                <button class="btn bt-cancelar mr-4" routerLink='/tema'>Cancelar</button>
                <button class="btn bt-confirmar" (click)='atualizar()'>Atualizar</button>
            </div>

        </div>
    </div>

</div>