<div class="container-fluid">

  <div class="row bg-roxo">
    <div class="col-md-12 text-white">
      <a routerLink='/inicio' class="text-white text-left">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i> inicio
      </a>
      <h1 class="fs-54 text-center">Temas</h1>
      <h5 class="fs-18 text-center">Veja aqui todos os temas já cadastrados ou cadastre um novo:</h5>

      <div class="row d-flex justify-content-center mt-4 mb-5">
        <div class="col-md-3">
          <div class="form-group">
            <input [(ngModel)]='tema.nome' type="text" class="form-control" id="nome"
              placeholder="Digite o nome do tema">
          </div>
          <div class="form-group">
            <input [(ngModel)]='tema.descricao' type="text" class="form-control" id="descricao"
              placeholder="Digite a descrição do tema">
          </div>
          <div class="form-group">
            <input [(ngModel)]='tema.qntd_post' type="number" class="form-control" id="qntd_post"
              placeholder="Digite a quatidade de posts">
          </div>
          <div class="form-group">
            <input [(ngModel)]='tema.relevante' type="number" class="form-control" id="relevante"
              placeholder="Digite a relevancia">
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <button type="button" class="btn bt-cancelar mr-3" routerLink='/inicio'>Cancelar</button>
            <button type="button" class="btn bt-confirmar" (click)='cadastrar()'>Cadastrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-5 mt-3 mb-5 d-flex justify-content-center text-center">
    <div class="col-md-12">
      <h2 class="text-center">Todos os temas</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">Descrição</th>
              <th scope="col">Quantidade</th>
              <th scope="col">Relevância</th>
              <th scope="col">Modificações</th>
            </tr>
          </thead>
          <tbody *ngFor="let tema of listaTemas">
            <tr>
              <th>{{ tema.id }}</th>
              <td>{{ tema.nome }}</td>
              <td>{{ tema.descricao }}</td>
              <td>{{ tema.qntd_post }}</td>
              <td>{{ tema.relevante }}</td>
              <td class="d-flex justify-content-end">
                <button class="btn btn-info btn-sm mr-2" [routerLink]="['/tema-edit', tema.id]">Editar</button>
                <button class="btn btn-danger btn-sm" [routerLink]="['/tema-delete', tema.id]">Apagar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>