.bt-cancelar{
    background: #f72585;
    font-weight: bold;
    color: white;
    
}

.bt-confirmar {
    background: #5a189a;
    font-weight: bold;
    color: white;
}

#th-descricao {
    min-width: 400px;
}