<nav class="navbar navbar-expand-lg navbar-light">
    <img class="navbar-brand logo-carol" src="https://i.imgur.com/ts1DP6O.png" alt="Logo Carol">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar"
        aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="textoNavbar">
        <ul class="navbar-nav mr-auto texto-navbar">
            <li class="nav-item active">
                <a class="nav-link texto-navbar ml-2" href="#home" style="color: #8D43A7">Home<span
                        class="sr-only">(Página
                        atual)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#projeto" style="color: #8D43A7">Sobre <span class="sr-only">(Página
                        atual)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#equipe" style="color: #8D43A7">Equipe <span class="sr-only">(Página
                        atual)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#contato" style="color: #8D43A7">Contato <span class="sr-only">(Página
                        atual)</span></a>
            </li>
        </ul>
        <span class="navbar-text">
            <a class="text-white" *ngIf="!logado()" routerLink='/entrar'>Entrar <i class="fa fa-sign-in"
                    aria-hidden="true"></i></a>
        </span>
    </div>
</nav>

<!-- Carousel -->
<div class="bg-page mt-0">
    <div class="container d-flex mb-0 " id="home">

        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="https://i.imgur.com/6NsjGtC.jpg" alt="Primeiro Slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://i.imgur.com/1wW8FYb.jpg" alt="Segundo Slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://i.imgur.com/1QY05Qw.jpg" alt="Terceiro Slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
        </div>

    </div>
    <!-- /Carousel -->


    <div class="container" id="projeto">
        <div class="col-md-12 mt-0">
            <h1 class="d-flex justify-content-center mt-5 mb-5">Sobre o projeto</h1>
            <div class="col-md-12 bg-sobre">
                <p class="fs-18">
                    Rede social para mulheres em vulnerabilidade social e econômica, que estão em busca de reinserção no
                    mercado de trabalho.
                </p>
                <p class="fs-18">
                    O objetivo é proporcionar atendimento da forma mais prática possível e gratuita a mulheres que
                    estejam passando por momento de vulnerabilidade econômica. A intenção é apresentar uma rede social
                    na qual elas possam postar o seu objetivo, além da troca de experiências entre as usuárias.
                </p>
                <p class="fs-18">
                    Recrutadores poderão selecionar a postagem que gostariam de oferecer ajuda e ter acesso às
                    informações da mulher para contato. A forma de identificação ou busca do post é através da geração
                    de um ID para cada post criado.
                </p>
            </div>
        </div>

        <div class="row mt-5 mb-5">
            <div class="col-md-6 missao">
                <h2 class="ods mb-3 mt-4">ODS 16</h2>
                <h4 class="mb-3">Paz, Justiça e Instituições Eficazes</h4>
                <p class="fs-18">Promover sociedades pacíficas e inclusivas para o desenvolvimento sustentável,
                    proporcionar o
                    acesso à justiça para todos e construir instituições eficazes, responsáveis e inclusivas em
                    todos os níveis.</p>
                <h5 class="mt-4 mb-2">Meta:</h5>
                <p class="fs-18">Desenvolver instituições eficazes, responsáveis e transparentes em todos os níveis.
                </p>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="https://i.imgur.com/3TVqYBf.jpg" width="500px" alt="">
            </div>
        </div>

    </div>

    <div class="container" id="equipe">
        <div class="row">
            <div class="col-md-12 mt-5 mb-5">
                <h3>Equipe</h3>

                <div class="row">
                    <div class="col-md-12" style="border-radius: 1rem;">

                        <div class="card-group">

                            <div class="card align-items-center">
                                <img class="card-img-top" src="https://i.imgur.com/m3bxspd.png"
                                    alt="Imagem de capa do card">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Alexssandra Prado</h5>
                                    <h6 class="card-subtitle mb-2 text-muted text-center">FullStack</h6>
                                    <hr>
                                    <a href="https://github.com/AlexaPim" class="p-3" target="_blanck">
                                        <img class="tm-social" src="https://i.imgur.com/S6SoXO3.png"
                                            alt="Logo do Github">
                                    </a>
                                    <a href="https://www.linkedin.com/in/alexssandra-pimentel/" class="p-3"
                                        target="_blanck">
                                        <img class="tm-social" src="https://i.imgur.com/NdEzaWE.png"
                                            alt="Logo do Linkedin">
                                    </a>

                                </div>
                            </div>

                            <div class="card align-items-center">
                                <img class="card-img-top" src="https://avatars.githubusercontent.com/u/62313672?v=4"
                                    alt="Imagem de capa do card">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Deivit Bonach</h5>
                                    <h6 class="card-subtitle mb-2 text-muted text-center">Tech Lead</h6>
                                    <hr>
                                    <a href="https://github.com/dbonach" class="p-3" target="_blanck">
                                        <img class="tm-social" src="https://i.imgur.com/S6SoXO3.png"
                                            alt="Logo do Github">
                                    </a>
                                    <a href="https://www.linkedin.com/in/deivit-bonach-a6102112b/" class="p-3"
                                        target="_blanck">
                                        <img class="tm-social" src="https://i.imgur.com/NdEzaWE.png"
                                            alt="Logo do Linkedin">
                                    </a>

                                </div>
                            </div>

                            <div class="card align-items-center">
                                <img class="card-img-top" src="https://avatars.githubusercontent.com/u/84036601?v=4"
                                    alt="Imagem de capa do card">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Ilanna Freire</h5>
                                    <h6 class="card-subtitle mb-2 text-muted text-center">Product Owner</h6>
                                    <hr>
                                    <a href="https://github.com/ilannafreire" class="p-3" target="_blanck">
                                        <img class="tm-social" src="https://i.imgur.com/S6SoXO3.png"
                                            alt="Logo do Github">
                                    </a>
                                    <a href="https://www.linkedin.com/in/ilanna-freire/" class="p-3" target="_blanck">
                                        <img class="tm-social" src="https://i.imgur.com/NdEzaWE.png"
                                            alt="Logo do Linkedin">
                                    </a>

                                </div>
                            </div>

                            <div class="card align-items-center">
                                <img class="card-img-top" src="https://avatars.githubusercontent.com/u/80111155?v=4"
                                    alt="Imagem de capa do card">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Ivan Carlos</h5>
                                    <h6 class="card-subtitle mb-2 text-muted text-center">FullStack</h6>
                                    <hr>
                                    <a href="https://github.com/ivancarlos88" class="p-3" target="_blanck">
                                        <img class="tm-social" src="https://i.imgur.com/S6SoXO3.png"
                                            alt="Logo do Github">
                                    </a>
                                    <a href="https://www.linkedin.com/in/ivan-carlos-mamani-sacari-59a0391a7/"
                                        class="p-3" target="_blanck">
                                        <img class="tm-social" src="https://i.imgur.com/NdEzaWE.png"
                                            alt="Logo do Linkedin">
                                    </a>

                                </div>
                            </div>

                            <div class="card align-items-center">
                                <img class="card-img-top" src="https://i.imgur.com/C9h8QwR.jpg"
                                    alt="Imagem de capa do card">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Johnny Alves</h5>
                                    <h6 class="card-subtitle mb-2 text-muted text-center">FullStack</h6>
                                    <hr>
                                    <a href="https://github.com/johnnyalvesx" class="p-3" target="_blanck">
                                        <img class="tm-social " src="https://i.imgur.com/S6SoXO3.png"
                                            alt="Logo do Github">
                                    </a>
                                    <a href="https://www.linkedin.com/in/johnnyalvesx/
                                        " class="p-3" target="_blanck">
                                        <img class="tm-social" src="https://i.imgur.com/NdEzaWE.png"
                                            alt="Logo do Linkedin">
                                    </a>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container d-flex justify-content-center mt-5" id="contato">

        <div class="col-md-8" style="border-radius: 1rem;">

            <form>
                <div class="form-group">
                    <h3 class="mb-5 mt-3 text-center">Entre em contato</h3>
                    <label for="exampleFormControlInput1">Nome completo</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Maria Silva">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Endereço de e-mail</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="nome@exemplo.com">
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Mensagem</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        placeholder="Digite sua mensagem aqui"></textarea>
                    <button class="btn-lg btn-block gradient-custom mt-2" type="submit" (click)='enviar()'
                        type="reset">Enviar</button>
                </div>
            </form>

        </div>

    </div>

    <footer>
        <div class="row mb-0">
            <div class="col-md-12 d-flex justify-content-center mt-5">

                <a href="https://github.com/AlexaPim/frontend-Carol" class="p-3" target="_blanck">
                    <img class="tm-social" src="https://i.imgur.com/S6SoXO3.png" alt="Logo do Github">
                </a>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">&copy;2021 Todos os direitos reservados para: Carol | Generation Brasil</p>
            </div>
        </div>

    </footer>

</div>