.navbar {
    background-color: #EAB7FC;
}

.texto-navbar {
    color: #8D43A7;
}

.bg-page {
    background: linear-gradient(#9D4EDD, #8187DC);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    overflow-x: hidden;
}

.logo-carol {
    width: 60px;
    margin: 0;
}

.bg-sobre {
    background: #EAB7FC;
    border-radius: 1rem;
}

.missao {
    background: #EAB7FC;
    padding: auto;
    border-radius: 1rem;
}

.img-fluid {
    border-radius: 1rem;
}

.p-texto {
    font-size: 18px;
}

.tm-social {
    width: 30px;
    height: 30px;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #9D4EDD;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #9D4EDD, #8187DC);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #9D4EDD, #8187DC)
}
