<nav class="navbar navbar-expand-lg navbar-light fixed-top align-content-center">
    <img class=" navbar-brand logo-carol" src="https://i.imgur.com/ts1DP6O.png" alt="Logo Carol">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar"
        aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="textoNavbar">
        <ul class="navbar-nav texto-navbar mr-auto">
            <li class="nav-item active">
                <a class="nav-link texto-navbar ml-2" href="#home" id='letra'>Home<span class="sr-only">(Página
                        atual)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#projeto" id="letra">Sobre <span class="sr-only">(Página
                        atual)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#missao" id='letra'>Missão <span class="sr-only">(Página
                        atual)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#equipe" id="letra">Equipe <span class="sr-only">(Página
                        atual)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#contato" id="letra">Contato <span class="sr-only">(Página
                        atual)</span></a>
            </li>
        
        </ul>
        <span class='log'>
            <button class="texto-navbar gradient-custom text-white" *ngIf="!logado()" routerLink='/entrar' >Entrar <i class="fa fa-sign-in"
                aria-hidden="true"></i></button>
        </span>
    </div>
</nav>

<div class="bg-page">

    <!-- Parallax -->
    <div id="home">
        <div class="bgimg-1 d-flex justify-content-center">
            <img class="w-50" src="https://i.imgur.com/AeRzJLF.png" alt="Logo Carol">
        </div>
    </div>

    <div class="row" id="projeto"
        style="color: rgb(109, 43, 101);background-color:#ffffff;text-align:center;padding:20px 60px;text-align: center;">
        <div class="col-md-6 mt-5">
            <h1 class="d-flex justify-content-center mt-5 mb-5">Sobre o projeto</h1>

            <p class="font-size-lp">
                Rede social para mulheres em vulnerabilidade social e econômica, que estão em busca de reinserção no
                mercado de trabalho.
            </p>
            <p class="font-size-lp">
                O objetivo é proporcionar atendimento da forma mais prática possível e gratuita a mulheres que
                estejam passando por momento de vulnerabilidade econômica. A intenção é apresentar uma rede social
                na qual elas possam postar o seu objetivo, além da troca de experiências entre as usuárias.
            </p>
            <p class="font-size-lp">
                Recrutadores poderão selecionar a postagem que gostariam de oferecer ajuda e ter acesso às
                informações da mulher para contato. A forma de identificação ou busca do post é através da geração
                de um ID para cada post criado.
            </p>

        </div>
        <div class="col-md-6">
            <img class="w-100 " src="https://i.imgur.com/BpJBHXx.png" alt="">
        </div>
    </div>

    <!-- <div class="bgimg-2 bg-opacity-lp">
        <div class="caption">
            <span class="border" style="background-color:#8D43A7;font-size:25px;font-style:inherit; color: #f7f7f7;">VEM
                SER CAROL COM A GENTE!</span>
        </div>
    </div> -->

    <div class="row"
        style="color: rgb(109, 43, 101);background-color:#ebd1f265;text-align:center;padding:30px 60px;text-align:center;">
        <div class="col-md-4 mt-0" id="missao">
            <img class="w-50" src="https://i.imgur.com/YKo15KB.png" alt="">
            <h3 class="d-flex justify-content-center mt-5 mb-5">Sobre o projeto</h3>
            <div class="col-md-12 bg-sobre">
                <p class="font-size-lp ">
                    Rede social para mulheres em vulnerabilidade social e econômica, que estão em busca de reinserção no
                    mercado de trabalho.
                </p>
            </div>
        </div>
        <div class="col-md-4 mt-0" id="missao">
            <img class="w-50" src="https://i.imgur.com/c1635r5.png" alt="">
            <h3 class="d-flex justify-content-center mt-5 mb-5">Sobre o projeto</h3>
            <div class="col-md-12">
                <p class="font-size-lp ">
                    O objetivo é proporcionar atendimento da forma mais prática possível e gratuita a mulheres que
                    estejam passando por momento de vulnerabilidade econômica. A intenção é apresentar uma rede social
                    na qual elas possam postar o seu objetivo, além da troca de experiências entre as usuárias.
                </p>
            </div>
        </div>
        <div class="col-md-4 mt-0" id="missao">
            <img class="w-50" src="https://i.imgur.com/8Ot6cPg.png" alt="">
            <h3 class="d-flex justify-content-center mt-5 mb-5">Sobre o projeto</h3>
            <div class="col-md-12 bg-sobre">
                <p class="font-size-lp ">
                    Recrutadores poderão selecionar a postagem que gostariam de oferecer ajuda e ter acesso às
                    informações da mulher para contato. A forma de identificação ou busca do post é através da geração
                    de um ID para cada post criado.
                </p>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>

    <div class="bgimg-3" id="equipe">
        <div class="caption">
            <span class="border sobre-equipe"
               >NOSSA EQUIPE</span>
        </div>
    </div>

    <div style="position:relative;">
        <div style="background-color:#EAB7FC;text-align:center;padding:50px 80px;text-align: justify;">

            <div class="card-group">

                <div class="card align-items-center">
                    <img class="card-img-top" src="https://i.imgur.com/m3bxspd.png" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Alexa Prado</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-center">FullStack</h6>
                        <hr>
                        <a href="https://github.com/AlexaPim" class="p-3" target="_blanck">
                            <img class="tm-social" src="https://i.imgur.com/S6SoXO3.png" alt="Logo do Github">
                        </a>
                        <a href="https://www.linkedin.com/in/alexssandra-pimentel/" class="p-3" target="_blanck">
                            <img class="tm-social" src="https://i.imgur.com/NdEzaWE.png" alt="Logo do Linkedin">
                        </a>

                    </div>
                </div>

                <div class="card align-items-center">
                    <img class="card-img-top" src="https://avatars.githubusercontent.com/u/62313672?v=4"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Deivit Bonach</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-center">Tech Lead</h6>
                        <hr>
                        <a href="https://github.com/dbonach" class="p-3" target="_blanck">
                            <img class="tm-social" src="https://i.imgur.com/S6SoXO3.png" alt="Logo do Github">
                        </a>
                        <a href="https://www.linkedin.com/in/deivit-bonach-a6102112b/" class="p-3" target="_blanck">
                            <img class="tm-social" src="https://i.imgur.com/NdEzaWE.png" alt="Logo do Linkedin">
                        </a>

                    </div>
                </div>

                <div class="card align-items-center">
                    <img class="card-img-top" src="https://avatars.githubusercontent.com/u/84036601?v=4"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Ilanna Freire</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-center">Product Owner</h6>
                        <hr>
                        <a href="https://github.com/ilannafreire" class="p-3" target="_blanck">
                            <img class="tm-social" src="https://i.imgur.com/S6SoXO3.png" alt="Logo do Github">
                        </a>
                        <a href="https://www.linkedin.com/in/ilanna-freire/" class="p-3" target="_blanck">
                            <img class="tm-social" src="https://i.imgur.com/NdEzaWE.png" alt="Logo do Linkedin">
                        </a>

                    </div>
                </div>

                <div class="card align-items-center">
                    <img class="card-img-top" src="https://avatars.githubusercontent.com/u/80111155?v=4"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Ivan Carlos</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-center">FullStack</h6>
                        <hr>
                        <a href="https://github.com/ivancarlos88" class="p-3" target="_blanck">
                            <img class="tm-social" src="https://i.imgur.com/S6SoXO3.png" alt="Logo do Github">
                        </a>
                        <a href="https://www.linkedin.com/in/ivan-carlos-mamani-sacari-59a0391a7/" class="p-3"
                            target="_blanck">
                            <img class="tm-social" src="https://i.imgur.com/NdEzaWE.png" alt="Logo do Linkedin">
                        </a>

                    </div>
                </div>

                <div class="card align-items-center">
                    <img class="card-img-top" src="https://i.imgur.com/C9h8QwR.jpg" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Johnny Alves</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-center">FullStack</h6>
                        <hr>
                        <a href="https://github.com/johnnyalvesx" class="p-3" target="_blanck">
                            <img class="tm-social " src="https://i.imgur.com/S6SoXO3.png" alt="Logo do Github">
                        </a>
                        <a href="https://www.linkedin.com/in/johnnyalvesx/
                            " class="p-3" target="_blanck">
                            <img class="tm-social" src="https://i.imgur.com/NdEzaWE.png" alt="Logo do Linkedin">
                        </a>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- /Parallax -->

    <!-- Fomrulario -->

    <div class="container d-flex justify-content-center mt-5" id="contato">

        <div class="col-md-8 bg-light" style="border-radius: 1rem;">

            <form>
                <div class="form-group">
                    <h3 class="mb-5 mt-3 text-center">Entre em contato</h3>
                    <label for="exampleFormControlInput1">Nome completo</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Maria Silva">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Endereço de e-mail</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="nome@exemplo.com">
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Mensagem</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        placeholder="Digite sua mensagem aqui"></textarea>
                    <button class="btn-lg btn-block gradient-custom mt-2" type="submit" (click)='enviar()'
                        type="reset">Enviar</button>
                </div>
            </form>

        </div>

    </div>

    <!-- /Fomrulario -->


    <footer>
        <div class="row mb-0">
            <div class="col-md-12 d-flex justify-content-center mt-5">

                <a href="https://github.com/AlexaPim/frontend-Carol" class="p-3" target="_blanck">
                    <img class="tm-social" src="https://i.imgur.com/S6SoXO3.png" alt="Logo do Github">
                </a>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">&copy;2021 Todos os direitos reservados para: Carol | Generation Brasil</p>
            </div>
        </div>

    </footer>
</div>